/* Estilo para el enlace con la nueva clase */
.custom-link {
    display: block;
    color: #232938; /* Color del texto */
    text-decoration: none; /* Sin subrayado en el enlace */
    font-size: 18px; /* Tamaño de la fuente */
    line-height: 140%; /* Altura de la línea */
    padding: 0; /* Espaciado interno */
    -webkit-transition: all 0.2s ease-in-out; /* Transición para WebKit */
    transition: all 0.2s ease-in-out; /* Transición para otros navegadores */
    text-align: right;
  }
  
  /* Efecto cuando el usuario pasa el mouse sobre el enlace */
  .custom-link:hover {
    color: #4CAF50; /* Color verde cuando se pasa el mouse */
  }
/* Estilo para los últimos elementos */
ul:last-child, p:last-child, ol:last-child {
    margin-bottom: 0;
}

/* Estilo para la lista de breadcrumbs */
.custom-breadcrumbs__list {
    display: flex;
    align-items: center;
    gap: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

/* Estilo adicional para los <ul>, <ol>, y <p> */
ul, ol {
    margin-left: 24px;
}

/* Espaciado inferior para <ul>, <p>, y <ol> */
ul, p, ol {
    padding: 0;
    margin-bottom: 24px;
}

/* Estilo para los enlaces dentro del breadcrumb */
.custom-breadcrumbs__list a {
    text-decoration: none;
    color: #232938; /* Color del texto */
}

.custom-breadcrumbs__list a:hover {
    color: #4CAF50; /* Color verde al pasar el mouse */
}
